.form-container {
  padding: 38px 40px 18px 30px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.location {
  @include flex($direction: column);
  gap: 5px;
  flex: 0 1 30%;

  @include media(740px) {
    flex-grow: 1;
  }
}

.location-label,
.rooms-legend,
.price-legend,
.square-legend {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-gray;
}

.location-input {
  padding: 18px 19px 17px;
  border: 1px solid $border-input-color;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 55px;

  &:focus {
    outline: 2px solid $header-bg-color;
  }
}

.rooms-fieldset,
.price-fieldset,
.square-fieldset {
  border: none;

  @include media(740px) {
    flex-grow: 1;
  }
}

.rooms-legend,
.price-legend,
.square-legend {
  margin-bottom: 5px;
}

.rooms-row,
.price-row,
.square-row {
  @include flex;
  border: 1px solid $border-input-color;
  border-radius: 4px;
  padding: 1px;
}

.rooms-control {
  position: relative;
  width: 50px;
  height: 50px;
  user-select: none;
}

.rooms-control:not(:last-child) {
  border-right: 1px solid $border-input-color;
}

.rooms-label {
  @include flex($align: center, $justify: center);
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.25;
  color: $color-gray-dark;
  opacity: 0.7;
  cursor: pointer;
}

// .rooms-input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
//   height: 0;
//   width: 0;
// }

.price-control {
  &:focus-within {
    outline: 2px solid $header-bg-color;
    border-radius: 4px;
  }
  &:focus-within:first-child {
    border-radius: 4px;
  }
  &:focus-within:not(:last-child) .price-input {
    border-right: 2px solid $header-bg-color;
  }

  &:not(:last-child) .price-input {
    border-right: 1px solid $border-input-color;
  }
}

.square-control {
  &:focus-within {
    outline: 2px solid $header-bg-color;
    border-radius: 4px;
  }

  &:focus-within:first-child {
    border-radius: 4px;
  }

  &:focus-within:not(:last-child) .square-input {
    border-right: 2px solid $header-bg-color;
  }

  &:not(:last-child) .square-input {
    border-right: 1px solid $border-input-color;
  }
}

.price-label,
.square-label {
  display: none;
}

.price-input,
.square-input {
  width: 100px;
  padding: 16px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.25;
  color: $header-bg-color;

  &::placeholder {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.25;
    color: $color-gray-dark;
    opacity: 0.7;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

.reset-button,
.filters-button {
  width: 100%;
  max-width: 239px;
  padding: 15px 0 17px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: $header-bg-color;
  background: none;
  cursor: pointer;
}

.reset-button {
  @include flex($justify: center, $align: center);
  border: none;
}

.reset-icon {
  vertical-align: sub;
  margin-right: 5px;
}

.filters-button {
  border: 1px solid $header-bg-color;
  border-radius: 4px;
  transition: all 280ms;

  &:hover {
    background-color: $header-bg-color;
    color: $color-light;
  }
}

.rooms-label {
  user-select: none;
}

.rooms-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.rooms-input:checked ~ .checkmark {
  outline: 2px solid $header-bg-color;
}

.rooms-input:checked ~ .rooms-label {
  color: $header-bg-color;
}

.checkmark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  outline: 2px solid transparent;
  pointer-events: none;
}
