.heading {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 1.21;
  color: $color--dark;
}

.row {
  @include flex($justify: space-between);
  margin-bottom: 24px;
}

.buttons-row {
  @include flex($justify: flex-end);
  gap: 39px;
}
