.filters-section {
  @include media(432px) {
    padding-top: 180px;
  }

  @include media(400px) {
    padding-top: 160px;
  }
}

.heading {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 1.21;
  color: $color--dark;
}

.row {
  @include flex($justify: space-between, $wrap: wrap);
  margin-bottom: 24px;

  @include media(1071px) {
    justify-content: flex-start;
    gap: 20px;
  }

  @include media(528px) {
    flex-direction: column;
    align-items: center;
  }
}

.buttons-row {
  @include flex($justify: flex-end);
  gap: 39px;

  @include media(528px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
