// Colors
$primary-color: #1a1a1a;
$color--dark: #000000;
$color-gray: #333333;
$color-gray-dark: #828282;
$color-gray-light: #8a8a8a;
$color-light: #ffffff;

$header-bg-color: #265653;
$logo-color: #d2b34b;
$border-input-color: #c6c6c6;
