// Colors
$primary-color: #1a1a1a;

$color--dark: #000000;
$color-dark-light: #141413;
$color-gray: #333333;
$color-gray-dark: #828282;

$color-gray-light: #8a8a8a;
$color-gray-lighter: #f4f4f4;
$color-light: #ffffff;

$color-persimmon: #ff5555;
$color-alabaster: #f9f9f9;
$color-mercury: #e8e8e8;
$color-tundora: #454545;
$color-lochmara: #0088cc;
$color-cornflower-blue: #7360f2;

$header-bg-color: #265653;
$logo-color: #d2b34b;
$border-input-color: #c6c6c6;
