.container {
  padding: 16px 0;
  background: $header-bg-color;
}

.content {
  @include flex($justify: space-between);

  @include media(480px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

.text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.3;
  color: $color-light;
}

.logos-list {
  @include flex($align: center);
  gap: 29px;
}
